<title>WORK | ระบบบริหารจัดการงาน</title>
<meta charset="utf-8" />
<meta name="description" 
    content="ระบบศูนย์รวมสำหรับจัดการงานของเจ้าหน้าที่โรงพยาบาลยุวประสาทไวทโยปถัมภ์ พร้อมด้วยการใช้งานที่ง่ายและทรงพลัง ด้วย Bootstrap" />
<meta name="keywords" 
    content="โรงพยาบาล, ระบบจัดการ, Bootstrap, ระบบจัดการโรงพยาบาล, เจ้าหน้าที่, ระบบศูนย์รวม, ระบบงานโรงพยาบาล, เว็บแอปพลิเคชัน" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:locale" content="th_TH" />
<meta property="og:type" content="website" />
<meta property="og:title" 
    content="ระบบศูนย์รวมสำหรับจัดการงานของเจ้าหน้าที่โรงพยาบาลยุวประสาทไวทโยปถัมภ์" />
<meta property="og:url" content="https://work.ycap.go.th" />
<meta property="og:site_name" content="ระบบจัดการโรงพยาบาลยุวประสาทไวทโยปถัมภ์" />
<link rel="canonical" href="https://work.ycap.go.th" />

<link rel="shortcut icon" href="./assets/medias/logos/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="./assets/medias/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/medias/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/medias/logos/favicon-16x16.png">
<link rel="manifest" href="./assets/medias/logos/site.webmanifest">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

<link href="./assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<link href="./assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

<link href="./assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="./assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

<link href="./assets/plugins/custom/jstree/custom-jstree.bundle.css" rel="stylesheet" type="text/css" />

<link href="./assets/css/fonts.css" rel="stylesheet" type="text/css" />
<link href="./assets/css/fa_pro_67.css" rel="stylesheet" type="text/css" />
<link href="./css/custom.css" rel="stylesheet" type="text/css" />